.pisun {
    color: red;
    font-size: 500px;
}

#pisundiv {
    border: 2px solid black;
    width: 350px;
    height: 350px;
    transition-duration: 1s;
    background: linear-gradient(45deg, black, green, black, green, black, green);
    background-size: 1000%;
    background-position: 0%;
}

#pisundiv:hover {
    width: 650px;
    height: 650px;
    background-position: 50%;
}